# Example container configuration

lxc.rootfs.path = /var/lib/lxc/example/rootfs
lxc.uts.name = example

# Network configuration
lxc.net.0.type = veth
lxc.net.0.link = lxcbr1
lxc.net.0.flags = up
lxc.net.0.ipv4.address = 10.126.0.150/24
lxc.net.0.ipv4.gateway = 10.126.0.1

# Resource limits
lxc.cgroup2.memory.max = 1024M
lxc.cgroup2.cpu.max = 200000 100000